body {
    background-color : #405C96;
    font-family      : "SF Pro Text", sans-serif;
}

#about-logo {
    margin-top : 100px;
    text-align : center;
}

#about-app-intro {
    font-size      : 16px;
    line-height    : 28px;
    margin         : 40px 40px auto 40px;
    color          : white;
    letter-spacing : 1pt;
}

#about-app-intro > span {
    font-weight : bold;
}

#about-created-by {
    font-size   : 26px;
    font-weight : bold;
    margin      : 50px 0;
    text-align  : center;
    color       : white;
}

#about-creators {
    list-style : none;
    padding: 0;
    margin: 50px 40px 0 40px;
}

#about-creators > li {
    display : flex;
}

#about-creators > li > img {
    width  : 50px;
    height : 50px;
}

#about-creators > li > div {
    margin-left : 30px;
    font-size: 22px;
    font-weight: bolder;
    color: white;
    padding-top: 12px;
}

#about-creators > li:not(:first-child) {
    margin-top : 30px;
}