/*#tab-bar {*/
/*position         : fixed;*/
/*bottom           : 0;*/
/*left             : 0;*/
/*right            : 0;*/
/*height           : 55px;*/
/*background-color : white;*/
/*border-top       : 1px solid #CACACA;*/
/*}*/
body {
    font-family : "SF Pro Text", sans-serif;
}

.screen {
    position : fixed;
    left     : 0;
    right    : 0;
    top      : 0;
    bottom   : 0;
}

.tab-bar, .nav-bar {
    height : 55px;
}

.tab-bar, .nav-bar, .main-content {
    position : fixed;
    width    : 100%;
}

.nav-bar {
    text-align: center;
    padding          : 18px 0;
    margin           : 0;
    z-index          : 1;
    background-color : #405C96;
    transition       : all 600ms cubic-bezier(1, 0, 0, 1);
    color: white;
}

.new-button {
    position: absolute;
    right: 20px;
    top: 16px;
    color: white;
}

.main-content {
    z-index          : 2;
    background-color : #F3F3F3;
    box-shadow       : 0 0 4px rgba(0, 0, 0, 0.2);
    transition       : all 600ms cubic-bezier(1, 0, 0, 1);
}

.tab-bar {
    display          : flex;
    justify-content  : space-around;
    list-style       : none;
    margin           : 0;
    padding          : 7px 0 0 0;
    z-index          : 3;
    border-top       : 1px solid #CACACA;
    background-color : white;
    transition       : all 600ms cubic-bezier(1, 0, 0, 1);
}

.tab-bar > li {
    text-align : center;
}

.tab-bar > li:not(.selected) {
    color : #757575;
}

.tab-bar > li.selected {
    color : #405C96;
}

#app-screen.tab-shown .tab-bar {
    bottom : 0;
}

#app-screen:not(.tab-shown) .tab-bar {
    bottom : -55px;
}

#app-screen:not(.tab-shown) .main-content {
    bottom : 0;
}

#app-screen:not(.nav-shown) .main-content {
    top : 0;
}

#app-screen.tab-shown .main-content {
    bottom : 55px;
}

#app-screen.nav-shown .main-content {
    top : 55px;
}

#app-screen.nav-shown .nav-bar {
    top : 0;
}

#app-screen:not(.nav-shown) .nav-bar {
    top : -55px;
}

#main-content-current-event {
    text-align     : center;
    margin         : 30px 15px;
    letter-spacing : 1pt;
}

#main-content-event-title {
    font-size   : 40px;
    font-weight : 500;
}

#main-content-event-date {
    color      : #7D7D7D;
    font-size  : 20px;
    margin-top : 10px;
}

#main-content-event-participants-count {
    font-size  : 18px;
    margin-top : 15px;
    color      : #7D7D7D;
}

#main-content-event-participants-profiles {
    list-style      : none;
    padding         : 0;
    margin          : 20px 0 0 0;
    display         : flex;
    justify-content : center;
}

#main-content-event-participants-profiles > li:not(:first-child) {
    margin-left : 10px;
}

.card-layout {
    padding    : 10px;
    box-shadow : 0 1px 3px rgba(0, 0, 0, 0.2);
}

#main-content-events {
    margin     : 0 15px;
    padding    : 0;
    list-style : none;
}

#main-content-events > li {
    background-color : white;
    padding          : 18px 30px;
    border-radius    : 2px;
}

#main-content-events > li:not(:first-child) {
    margin-top : 15px;
}

.event-row {
    display : flex;
}

.event-row > .event-name {
    font-size : 16px;
    color     : #757575;
    flex      : 1;
}

.event-row > .event-date {
    font-size  : 12px;
    margin-top : 3px;
    color      : #888888;
}

.input{
    border: 0;
    font-family: inherit;
}

.name{
    margin: 0;
}

#selector{
    color: darkgray;
}