hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    width: 250px;
    border: solid 0.5px rgba(168, 182, 200, 0.3);
}

.user-name {
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-align: left;
	color: #636363;
}

.user-profile {
	width: 187.5px;
	height: 406px;
	object-fit: contain;
}

.favorites {
  padding-top: 20px;
	font-family : "SF Pro Text", sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #4f4e4e;
}

.btn:hover, .btn:active, .btn:focus {
  outline: 0;
  cursor: pointer;
 }

  #card-pressed:active{
  transform: matrix(0.95, 0, 0, 0.95, 0, 0);
  opacity: 0.8;
 }
