/* Div centered & content inside div centered */
#div-outer-centered {
  text-align: center;
}

#div-inner-centered {
  display: table;
  margin: 0 auto;
}

.btn-fb {
  cursor: pointer;
}


 #btn-pressed:active{
 transform: matrix(0.95, 0, 0, 0.95, 0, 0);
 opacity: 0.8;
}



.btn {
  font-size: 0.8rem;
  padding: 0.85rem 2.13rem;
  margin: 6px;
  border-radius: 2px;
  border: 0;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  text-transform: uppercase;
  white-space: normal !important;
  word-wrap: break-word;
  cursor: pointer;
 }
  .btn:hover, .btn:active, .btn:focus {
    outline: 0; }
